In [1]:
a = 10
a

10

In [1]:
print(1, 2, 3, 4, 5)

1 2 3 4 5

In [2]:
print(1, 2, 3, sep=', ')

1, 2, 3

In [3]:
print(4, 5, 6, sep=",")

4,5,6

In [4]:
print('Hello', 'Python', sep='')

HelloPython

In [5]:
print(1970, 1000,sep='x')

1970x1000

In [6]:
print(1, 2, 3, sep='\n')

1
2
3

In [7]:
print('1\n 2\n 3')

1
 2
 3

- /n 다음 줄로 이동하며 개행이라고도 부름니다.
- \t 탭 문자, 키보드의 Tab 키와 같으며 여러 칸을 띄웁니다.
- \\ \문자 자체를 출력할 때는 \를 두 번 써야 합니다.

In [8]:
print(1)
print(2)
print(3)

1
2
3

In [9]:
print(1, end='')
print(2, end='')
print(3)

123

In [10]:
print(1, end=' ')
print(2, end=' ')
print(3)

1 2 3

In [11]:
print(3.1, 'Python', 100)

3.1 Python 100

1. d
2. c 
3. a, b, d, e

In [12]:
print(16, 9, end=':')

16 9:

In [13]:
print(16, 9, sep=':')

16:9

In [15]:
print('hello', 'python', sep='\n')
print('hello', 'python')
print('hello', '\n', 'python', sep='')

hello
python
hello python
hello
python

In [18]:
year = 2023
month = "06"
day = "06"
hour = 11
minute = 57
second = 30

print(year, month, day, sep= '/', end= ' ')
print(hour, minute, second, sep= ':')

2023/06/06 11:57:30

In [22]:
print("1999-12-31T10:37:21", '1999 12 31 10 37 21')

1999-12-31T10:37:21 1999 12 31 10 37 21

In [25]:
year, month, day, hour, minute, second = input().split()


print(hour, minute, second, sep=':')

print(1999, 12, 31, 10, 37, 21)

1

ValueError: not enough values to unpack (expected 6, got 1)

In [ ]:
print(1 + 1)
print