In [1]:
# 자료형

'''
정수형, 정수형의 계산: 정수형
소수형, 소수형의 계산: 소수형
정수형, 소수형의 계산: 소수형
단, 나눗셈의 계산은 언제나 소수형의 결과값
'''
#5. Format 을 이용한 문자열 포맷팅

y = 2023
m = 6
d = 20
print("오늘은 " + str(y) + "년 " + str(m) + "월 " + str(d) + "일 입니다.") # str은 str끼리 더해서 출력

오늘은 2023년 6월 20일 입니다.

In [2]:
y = 2023
m = 6
d = 20
print("오늘은 {}년 {}월 {}일입니다.".format(y, m, d)) # format에 따라 {} 순서대로 출력

오늘은 2023년 6월 20일입니다.

In [4]:
y = 2023
m = 6
d = 20
date_string = "오늘은 {}년 {}월 {}일 입니다."
print(date_string.format(y, m, d)) # date_string 변수에 문자열을 넣고 format으로 넣어 줌.

오늘은 2023년 6월 20일 입니다.

In [5]:
print("메다카의 종류는 {2}, {0}, {1} 등이 있습니다".format("시로부치", "밤벚꽃", "삼색")) # 인덱스 번호 순서대로 출력.

메다카의 종류는 삼색, 시로부치, 밤벚꽃 등이 있습니다

In [9]:
# 현재 가장 많이 쓰는 방식 (format 메소드)
name = "kim"
age = 32
print("제 이름은 {}이고 {}살입니다.".format(name, age)) # format에 변수 할당

제 이름은 kim이고 32살입니다.

In [10]:
# 새로운 방식 (f-string)
name = "lee"
age = 32
print(f"제 이름은 {name}이고 {age}살입니다.") # 문자열 앞에 f를 넣고 변수 명을 {} 안에 써준다.

제 이름은 lee이고 32살입니다.

In [12]:
# 문자열 포맷팅 연습
wage = 5 # 1시간 임금
exchange_rate = 1142.16 # 1달러를 한국 돈으로 바꾸면 얼마인지 나타내는 값(환율)

#--==>> 1시간에 5달러 벌었습니다. wage * 1
#--==>> 5시간에 25달러 벌었습니다. wage * 5
#--==>> 1시간에 5710.8원 벌었습니다. wage * 1 * exchange_rate
#--==>> 5시간에 28554.0원 벌었습니다. wage * 5 * exchange_rate
print(f'1시간에 {wage} 벌었습니다.'
     f'\n5시간에 {wage * 5} 달러 벌었습니다.'
     f'\n1시간에 {wage * exchange_rate} 원 벌었습니다.'
      f'\n5시간에 {wage * exchange_rate * 5} 원 벌었습니다.')

1시간에 5 벌었습니다.
5시간에 25 달러 벌었습니다.
1시간에 5710.8 원 벌었습니다.
5시간에 28554.0 원 벌었습니다.

In [13]:
wage = 5 # 1시간 임금
exchange_rate = 1142.16 # 1달러를 한국 돈으로 바꾸면 얼마인지 나타내는 값(환율)

print("{}시간에 {}{} 벌었습니다.".format(1, wage * 1, "달러")) # 시간, 금액, 달러나 원화 만이 변하기에 3개가 변수.
print("{}시간에 {}{} 벌었습니다.".format(5, wage * 5, "달러"))
print("{}시간에 {:.1f}{} 벌었습니다.".format(1, wage * 1 * exchange_rate, "원"))
print("{}시간에 {:.1f}{} 벌었습니다.".format(5, wage * 5 * exchange_rate, "원"))

1시간에 5달러 벌었습니다.
5시간에 25달러 벌었습니다.
1시간에 5710.8원 벌었습니다.
5시간에 28554.0원 벌었습니다.

In [14]:
# format 다루기
num_1 = 1
num_2 = 3
print("{0} 나누기 {1}은 {2}입니다.".format(num_1, num_2, num_1/num_2)) # format 안에 계산을 넣음.

1 나누기 3은 0.3333333333333333입니다.

In [17]:
print("{0} 나누기 {1}은 {2:.2f}입니다.".format (num_1, num_2, num_1 / num_2)) # {2:.2f}는 2번 인덱스의 2번째 소수점을 말함.

1 나누기 3은 0.33입니다.

In [18]:
def hello():
    print("Hello world!")
print(type(hello)) # 파이썬은 함수도 하나의 형임
print(type(print)) # 파이썬에 기본적으로 내장된 함수라는 뜻

<class 'function'>
<class 'builtin_function_or_method'>